<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<!-- <mapper namespace="com.res.dao.StockDao">
	
	<insert id="addStock" parameterType="com.wfm.bean.AddStock">
		insert into stock values(#{form.stockId},#{form.stockTime},#{form.opertorId},#{form.remarks})
	</insert> 
</mapper>-->