<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.project.dao.StudentDao">
    <select id="findStudentByNo" resultType="Student">
        select * from student where sno = #{sno}
    </select>
    <insert id="addStudent" parameterType="Student">
        insert into student values(#{student.sno},#{student.sname},#{student.spassw})
    </insert>
</mapper>